[Unit]
Description=JetBrains Toolbox tray applet
After=polybar.service
Requires=polybar.service
PartOf=polybar.service

[Service]
ExecStart=%h/.local/share/JetBrains/Toolbox/bin/jetbrains-toolbox

[Install]
WantedBy=tray.target
