[Unit]
Description=Polybar top panel
PartOf=polybar.service
ReloadPropagatedFrom=polybar.service
Before=polybar.service
Requires=i3wm.service
After=i3wm.service

[Service]
Environment=POLYBAR_MONITOR=%i
ExecStart=/usr/bin/polybar top
ExecReload=/usr/bin/polybar --reload top

[Install]
WantedBy=i3wm.service
