[Unit]
Description=Polybar status bar
Requires=i3wm.service
After=i3wm.service
PartOf=i3wm.service

[Service]
ExecStartPre=/bin/systemctl --user stop polybar-top-tray@*.service
ExecStartPre=/bin/systemctl --user stop polybar-top@*.service
ExecStartPre=/bin/systemctl --user stop polybar-bottom@*.service

ExecStart=%h/.config/bin/polybar-launch.sh
ExecReload=/bin/true
RemainAfterExit=on

[Install]
WantedBy=i3wm.service
# RequiredBy=tray.target
