[Unit]
Description=Telegram tray applet
After=polybar.service
Requires=polybar.service
PartOf=polybar.service

[Service]
ExecStart=/snap/bin/telegram-desktop -startintray

[Install]
WantedBy=tray.target
