[Unit]
Description=Create Theme for i3
After=polybar.service
Requires=polybar.service

[Service]
ExecStart=%h/.config/bin/wal-launch.sh
Type=oneshot
RemainAfterExit=false

[Install]
WantedBy=i3wm.service
